@media (max-width: 700px){
    .logo{
       margin-right: 100px;

    }
    .logo_image{
        width: 250px;
        height: 60px;
    }
    .tel {
        width: 100px
    }
}
@media (max-width: 600px){
    .logo{
        margin-right: 10px;

    }
}
@media (max-width: 600px){
  .tel{
      position:relative;


      width: 100%;
      min-width: 100%;
text-align: right;
      font-size: 20px;
  }

.item_list {
    display: none;
}
}
@media (max-width: 610px){
.nav_wrapper {
    display: none;
}
    .nav{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .tel{
        font-size: 15px;
        right: 270px;
    }
    .logo_image{
        width: 125px;
        height: 30px;
    }
    .sld {
        height: 70vh;
    }
    .next, .prev {
        width: 50px;
        padding-top: 150px;
    }
    .title_slider{
        font-size: 20px;
        padding-left: 60px;
        max-width: 300px;
    }
    .title_slider:after {
        left: 70px;
        top: 150px
    }
    .text_slider {
        font-size: 15px;
max-width: 350px;
        padding-top:200px;
        padding-left: 60px;
    }
    .zakazat {
        left: 100px;
        top: 250px;
        width: 100px;
        height: 50px;
    }
    .dot {
        width: 25px;
        height: 25px;
    }
    .slider_list{
      padding-top: 200px;
        font-size: 15px;
    }

}
@media (max-width: 860px){
    .pizzas_title{
        font-size: 25px;
    }
    .pizzas_week {
        font-size: 20px;
    }
    .line {
        display: block;
    }
}